.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-radius: 0 0 0.7rem 0.7rem;
  transition: background 0.3s;
}

.nav,
.nav__logo,
.nav__list,
.dropdown-box,
.dropdown-inner-box,
.nav__buttons {
  display: flex;
  align-items: center;
}

.nav__logo {
  gap: 0.5rem;

  span {
    font-family: 'logo';
    font-size: 1.3rem;
  }

  img {
    width: 20px;
  }
}

.nav__item {
  margin-right: 3rem;
}

.nav__link {
  color: var(--text-color);
  display: inline-block;
  padding-block: 1.2rem;
  white-space: nowrap;
}

.nav__link,
.nav__link ~ i {
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__link:hover ~ i {
  color: var(--second-color);
}

.nav__buttons {
  margin-right: auto;
  gap: 1rem;

  a {
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    color: var(--title-color);
  }
}

.dropdown {
  position: relative;

  i {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .dropdown-menu,
  .dropdown-inner-menu {
    position: absolute;
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;

    li {
      background: var(--body-color);
      padding-inline: 1rem;
    }

    li:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    li:last-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    .nav__link {
      width: 100%;
      padding-left: 2rem;
    }
  }

  .dropdown-inner {
    position: relative;
  }

  .dropdown-inner-box {
    border-bottom: 1px solid hsla(277, 55%, 70%, 0.2);
  }

  .dropdown-menu {
    padding-top: 1rem;
    top: 4rem;
    right: 0;

    li:not(:last-child) > .nav__link {
      border-bottom: 1px solid hsla(277, 55%, 70%, 0.2);
    }
  }

  .dropdown-inner-menu {
    padding-right: 1rem;
    top: 0;
    right: 100%;

    li:not(:last-child) > .nav__link {
      border-bottom: 1px solid hsla(277, 55%, 70%, 0.2);
    }
  }
}

.dropdown:hover .dropdown-menu,
.dropdown-inner:hover .dropdown-inner-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav__menu-header,
.nav__menu-buttons,
.nav__toggle {
  display: none;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.header-background {
  background: var(--body-color);
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@  BREAKPOINTS  @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1024px) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    background: hsla(259, 20%, 20%, 0.5);
    backdrop-filter: blur(2px);
  }

  .nav__buttons {
    display: none;
  }

  .nav__toggle,
  .nav__close {
    display: flex;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav__close {
    display: inline-block;
    margin-left: 0.3rem;
  }

  .nav,
  .nav__menu-header,
  .nav__menu-buttons {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__menu-header {
    padding-inline: 1.5rem;
    border-bottom: 1px solid hsla(277, 55%, 70%, 0.2);
  }

  .nav__menu {
    background: var(--body-color);
    position: fixed;
    right: -100%;
    top: 0;
    width: 45%;
    height: 100vh;
    z-index: 100;
    transition: right 0.5s;
  }

  .nav__list {
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding-inline: 1.5rem;
    padding-bottom: 8rem;
  }

  .nav__list::-webkit-scrollbar {
    display: none;
  }

  .nav__item {
    margin-right: 0;
    width: 100%;
  }

  .nav__link {
    width: 100%;
    border-bottom: 1px solid hsla(277, 55%, 70%, 0.2);
  }

  .nav__item:last-child .nav__link {
    border-bottom: none;
  }

  .nav__link:hover ~ i {
    color: var(--title-color);
  }

  .dropdown {
    i {
      background: var(--second-color);
      color: var(--title-color);
      border-radius: 0.2rem;
      font-size: 1.1rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: transform 0.5s;
    }

    .dropdown-box,
    .dropdown-inner-box {
      border-bottom: 1px solid hsla(277, 55%, 70%, 0.2);

      a {
        border-bottom: none;
      }
    }

    .dropdown-inner-box i {
      transform: rotate(-90deg);
    }

    .dropdown-menu,
    .dropdown-inner-menu {
      position: static;
      transform: translateY(0);
      max-height: 0;
      transition: opacity 0.5s, max-height 1s;

      li {
        padding-right: 0;
        padding-left: 0;
      }

      .nav__link {
        padding-left: 0;
      }
    }

    .dropdown-menu {
      padding-top: 0;
    }

    .dropdown-inner-menu {
      padding-right: 0;
    }
  }

  .dropdown:hover .dropdown-menu,
  .dropdown-inner:hover .dropdown-inner-menu {
    transform: translateY(0);
    opacity: 0;
    pointer-events: none;
  }

  .nav__menu-buttons {
    background: var(--body-color);
    border-top: 1px solid hsla(277, 55%, 70%, 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    gap: 2rem;
    padding-inline: 1.5rem;

    a {
      width: 100%;
      text-align: center;
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: var(--title-color);
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .show-menu {
    right: 0;
  }

  .show-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .dropdown.active .dropdown-menu,
  .dropdown-inner.active .dropdown-inner-menu {
    opacity: 1;
    pointer-events: auto;
    max-height: 1000px;
  }

  .dropdown.active .dropdown-box a,
  .dropdown-inner.active .dropdown-inner-box a {
    color: var(--second-color);
  }

  .dropdown.active .dropdown-box i {
    transform: rotate(180deg);
  }

  .dropdown-inner.active .dropdown-inner-box i {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    width: 100%;
  }
}
