.home {
  position: relative;
}

.home__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 0;
  padding: 10rem 5rem 5rem;

  height: 100vh;
  align-content: center;
}

.home__left {
  display: grid;
  grid-row: 1/3;
  grid-column: 2/3;
}

.home__images {
  position: relative;
  display: grid;
  width: 100%;
  justify-self: center;
}

.home__stats {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: max-content;
  margin-right: auto;
}

.home__float-img {
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 150px;
  filter: drop-shadow(0 5px 30px hsla(203, 70%, 60%, 0.5));

  animation: eth 4s infinite ease-in-out;
}

.home__static-img {
  width: 100%;
}

.home__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 3rem;
}

.home__group {
  display: flex;
  column-gap: 5rem;
}

.home__group-right,
.home__group-left {
  display: grid;
  gap: 0.5rem;
}

.home__countdown {
  display: flex;
  column-gap: 1rem;

  div {
    text-align: center;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
   @@@@@@       BACKGROUND       @@@@@@
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  mix-blend-mode: soft-light;
  opacity: 0.5s;
}

.bg-circle {
  position: absolute;
  z-index: -1;
  filter: blur(150px);
  border-radius: 50%;
}

.bg-circle-1 {
  background: var(--first-color);
  top: -2rem;
  right: -2rem;
  width: 250px;
  height: 250px;
}

.bg-circle-2 {
  background: var(--second-color);
  bottom: -3rem;
  right: 10rem;
  width: 300px;
  height: 300px;
}

.bg-circle-3 {
  background: var(--first-color);
  top: 10rem;
  left: -2rem;
  width: 300px;
  height: 300px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
   @@@@@@       MAGIC BUTTON     @@@@@@
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.magic-btn {
  position: relative;
  display: inline-block;
  background: linear-gradient(45deg, var(--second-color), var(--first-color));
  color: var(--title-color);
  padding: 0.8rem 1.6rem;
  border-radius: 0.3rem;
  transition: 0.4s;
}

.magic-btn::after {
  content: '';
  background: linear-gradient(
    45deg,
    var(--second-color) 30%,
    var(--first-color) 50%
  );
  position: absolute;
  width: 80%;
  height: 50%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -5px;
  border-radius: 0.3rem;
  z-index: -1;
  filter: blur(15px);
  opacity: 0;
  transition: 0.4s;
}

.magic-btn span {
  position: relative;
  z-index: 10;
}

.magic-btn__img {
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  transition: 0.6s;
  opacity: 0;
}

.magic-btn__img-1 {
  transform: translate(-45px, -5px);
  width: 20px;
  filter: blur(0.3px);
}
.magic-btn__img-2 {
  transform: translate(10px, -20px);
}
.magic-btn__img-3 {
  transform: translate(50px, 0);
  filter: blur(0.5px);
}
.magic-btn__img-4 {
  transform: translate(-20px, 15px);
}

//  @@@@@@@@@@  MAGIC BUTTON:HOVER  @@@@@@@@@
.magic-btn:hover {
  transform: scale(1.15);
}

.magic-btn:hover::after,
.magic-btn:hover .magic-btn__img {
  opacity: 1;
}

.magic-btn:hover .magic-btn__img-1 {
  transform: translate(-50px, -13px) rotate(-20deg);
}

.magic-btn:hover .magic-btn__img-2 {
  transform: translate(15px, -30px) rotate(20deg);
}

.magic-btn:hover .magic-btn__img-3 {
  transform: translate(60px, -20px) rotate(-20deg) scale(1.2);
}

.magic-btn:hover .magic-btn__img-4 {
  transform: translate(-25px, 35px) rotate(-20deg) scale(1.2);
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
   @@@@@@        ANIMATION       @@@@@@
   @@@@@@    .home__float-img    @@@@@@
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@keyframes eth {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
   @@@@@@       BREAKPOINTS      @@@@@@
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 1024px) {
  .home__container {
    height: initial;
    align-content: initial;
  }

  .home__float-img {
    width: 100px;
    top: 1rem;
  }

  .home__title {
    font-size: 1.5rem;
  }

  .home__description {
    margin-bottom: 1.5rem;
  }

  .home__group {
    column-gap: 3rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     @@@@@@       MAGIC BUTTON     @@@@@@
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

  .magic-btn:hover {
    transform: none;
    box-shadow: 0 0 40px hsla(203, 70%, 60%, 0.5);
  }

  .magic-btn::after,
  .magic-btn__img {
    display: none;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     @@@@@@        ANIMATION       @@@@@@
     @@@@@@    .home__float-img    @@@@@@
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
  @keyframes eth {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(2.5rem);
    }

    100% {
      transform: translateY(0);
    }
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     @@@@@@       BACKGROUND       @@@@@@
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
  .bg-circle {
    filter: blur(100px);
  }

  .bg-circle-1 {
    width: 180px;
    height: 180px;
  }

  .bg-circle-2,
  .bg-circle-3 {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 767px) {
  .home__container {
    padding: 10rem 0rem 5rem;
  }
}

@media (max-width: 575px) {
  .home__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 8rem 0 5rem;
  }

  .home__left {
    grid-row: initial;
    grid-column: initial;
  }

  .home__images {
    width: 100%;
  }

  .home__float-img {
    top: -1rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     @@@@@@       BACKGROUND       @@@@@@
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
  .bg-circle-1 {
    width: 150px;
    height: 150px;
    top: -1rem;
    right: -1rem;
  }

  .bg-circle-2 {
    width: 200px;
    height: 200px;
    bottom: -1rem;
    right: -1rem;
  }

  .bg-circle-3 {
    width: 200px;
    height: 200px;
    top: 15rem;
    left: -3rem;
  }
}
